html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

body { background: white; font-size: 12px; font-family: "Open Sans", Arial, sans-serif; font-weight: 400; line-height: 1.4; }

a { text-decoration: none; }

.out { width: 1024px; margin: 0 auto; background: url(../img/bg.jpg) no-repeat 50% 0; }

.header { position: relative; height: 65px; background: #5cb1ea; }

.back { position: absolute; top: 15px; left: 11px; background: url("../img/svg/arr-left.svg") no-repeat 0 0; -webkit-background-size: 15px 33px; -moz-background-size: 15px 33px; -o-background-size: 15px 33px; background-size: 15px 33px; width: 15px; height: 33px; display: inline-block; }

.logo { position: absolute; top: 5px; left: 38px; background: url("../img/svg/logo.svg") no-repeat 0 0; -webkit-background-size: 150px 50px; -moz-background-size: 150px 50px; -o-background-size: 150px 50px; background-size: 150px 50px; width: 150px; height: 50px; display: inline-block; font: 0/0 a; text-shadow: none; color: transparent; }

.menu { position: absolute; top: 15px; right: 0; width: 25px; height: 34px; background: #ffdc33; }
.menu i { position: absolute; top: 9px; right: 0; background: url("../img/svg/menu.svg") no-repeat 0 0; -webkit-background-size: 18px 16px; -moz-background-size: 18px 16px; -o-background-size: 18px 16px; background-size: 18px 16px; width: 18px; height: 16px; display: inline-block; }

.stats { position: absolute; top: 20px; right: 85px; }
.stats li { display: inline-block; margin-left: 22px; vertical-align: middle; }
.stats li:first-child { margin: 0; }
.stats span, .stats i { display: inline-block; vertical-align: middle; }
.stats span { font-size: 17px; color: #29639c; }
.stats i { margin-right: 5px; }

.stats__ico-money { background: url("../img/svg/stats-money.svg") no-repeat 0 0; -webkit-background-size: 14px 23px; -moz-background-size: 14px 23px; -o-background-size: 14px 23px; background-size: 14px 23px; width: 14px; height: 23px; display: inline-block; }

.stats__ico-cart { background: url("../img/svg/stats-cart.svg") no-repeat 0 0; -webkit-background-size: 24px 23px; -moz-background-size: 24px 23px; -o-background-size: 24px 23px; background-size: 24px 23px; width: 24px; height: 23px; display: inline-block; }

.stats__ico-games { background: url("../img/svg/stats-games.svg") no-repeat 0 0; -webkit-background-size: 22px 23px; -moz-background-size: 22px 23px; -o-background-size: 22px 23px; background-size: 22px 23px; width: 22px; height: 23px; display: inline-block; }

.layout { padding: 0 25px 20px 0; font-size: 0; }

.column { display: inline-block; width: 50%; padding-left: 25px; vertical-align: top; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

.title { padding: 15px 10px; }
.title span { font-size: 34px; color: white; }
.title .ico-question { margin-left: 25px; }

.ico-question { background: url("../img/svg/question.svg") no-repeat 0 0; -webkit-background-size: 25px 25px; -moz-background-size: 25px 25px; -o-background-size: 25px 25px; background-size: 25px 25px; width: 25px; height: 25px; display: inline-block; }

.type { border: 1px solid #4095ed; background: white; font-size: 0; }
.type li { display: inline-block; width: 25%; border-left: 1px solid #4095ed; vertical-align: top; text-align: center; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.type li:first-child { border: none; }
.type li.is-active { background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #008aec), color-stop(100%, #00d5ea)); background-image: -webkit-linear-gradient(#008aec, #00d5ea); background-image: -moz-linear-gradient(#008aec, #00d5ea); background-image: -o-linear-gradient(#008aec, #00d5ea); background-image: linear-gradient(#008aec, #00d5ea); }
.type li.is-active .type__ico-all { background: url("../img/svg/type-all-a.svg") no-repeat 0 0; -webkit-background-size: 23px 23px; -moz-background-size: 23px 23px; -o-background-size: 23px 23px; background-size: 23px 23px; width: 23px; height: 23px; display: inline-block; }
.type li.is-active .type__ico-archived { background: url("../img/svg/type-archived-a.svg") no-repeat 0 0; -webkit-background-size: 27px 24px; -moz-background-size: 27px 24px; -o-background-size: 27px 24px; background-size: 27px 24px; width: 27px; height: 24px; display: inline-block; }
.type li.is-active .type__ico-live { background: url("../img/svg/type-live-a.svg") no-repeat 0 0; -webkit-background-size: 25px 27px; -moz-background-size: 25px 27px; -o-background-size: 25px 27px; background-size: 25px 27px; width: 25px; height: 27px; display: inline-block; }
.type li.is-active .type__ico-upcoming { background: url("../img/svg/type-upcoming-a.svg") no-repeat 0 0; -webkit-background-size: 27px 26px; -moz-background-size: 27px 26px; -o-background-size: 27px 26px; background-size: 27px 26px; width: 27px; height: 26px; display: inline-block; }
.type li.is-active a { color: white; }
.type a { display: block; height: 63px; font-size: 10px; color: #29639c; text-transform: uppercase; }
.type span { display: block; height: 40px; line-height: 40px; }
.type span i { vertical-align: middle; }

.type__ico-all { background: url("../img/svg/type-all.svg") no-repeat 0 0; -webkit-background-size: 23px 23px; -moz-background-size: 23px 23px; -o-background-size: 23px 23px; background-size: 23px 23px; width: 23px; height: 23px; display: inline-block; }

.type__ico-archived { background: url("../img/svg/type-archived.svg") no-repeat 0 0; -webkit-background-size: 27px 24px; -moz-background-size: 27px 24px; -o-background-size: 27px 24px; background-size: 27px 24px; width: 27px; height: 24px; display: inline-block; }

.type__ico-live { background: url("../img/svg/type-live.svg") no-repeat 0 0; -webkit-background-size: 25px 27px; -moz-background-size: 25px 27px; -o-background-size: 25px 27px; background-size: 25px 27px; width: 25px; height: 27px; display: inline-block; }

.type__ico-upcoming { background: url("../img/svg/type-upcoming.svg") no-repeat 0 0; -webkit-background-size: 27px 26px; -moz-background-size: 27px 26px; -o-background-size: 27px 26px; background-size: 27px 26px; width: 27px; height: 26px; display: inline-block; }

.item-wrap { border: 1px solid #4095ed; background: white; }

.item { position: relative; border-top: 1px solid #4095ed; font-size: 0; overflow: hidden; }
.item:first-child { border: none; }

.item__man, .item__details, .item__right { display: inline-block; vertical-align: top; }

.item__man { width: 220px; padding-right: 20px; border-left: 9px solid lime; }

.item__man_mod { border-color: #66ffff; }

.item__man-in { position: relative; display: table; margin-top: 1px; overflow: hidden; }
.item__man-in:first-child { margin: 0; }

.item__man-link { display: table-row; }

.item__ava, .item__name { display: table-cell; vertical-align: middle; text-align: left; }

.item__ava { padding-right: 20px; }
.item__ava img { display: block; margin-top: 1px; }
.item__ava img:first-child { margin: 0; }

.item__name { font-size: 15px; color: #0071ba; }

.item__name-status { padding-top: 10px; font-size: 10px; color: #0071ba; }

.item__details { padding-right: 20px; }

.item__details-list { display: table-cell; width: 110px; height: 90px; font-size: 10px; color: #5d5d5d; vertical-align: middle; }

.item__right { width: 65px; padding: 5px 0; text-align: right; }

.item__live { display: inline-block; width: 34px; height: 22px; margin-bottom: 3px; background: #eb1c24; text-align: center; line-height: 22px; font-size: 11px; vertical-align: top; text-transform: uppercase; color: white; }

.item__points-in { display: inline-block; width: 34px; vertical-align: top; text-align: center; font-size: 12px; line-height: 1; }
.item__points-in i { background: url("../img/svg/corona.svg") no-repeat 0 0; -webkit-background-size: 15px 15px; -moz-background-size: 15px 15px; -o-background-size: 15px 15px; background-size: 15px 15px; width: 15px; height: 15px; display: inline-block; }
.item__points-in em { display: block; font-size: 8px; font-style: normal; }

.item__points-stats { font-size: 10px; }

.item__points-green { color: #7ab100; }

.item__points-red { color: #ff201b; }

.item__date { display: inline-block; width: 20px; height: 15px; margin-right: 4px; border: 1px solid #ffdc33; border-width: 5px 2px 2px; text-align: center; line-height: 15px; font-size: 10px; }

.item__drag { position: absolute; top: -1px; right: -1px; bottom: -1px; padding-left: 21px; border: 1px solid #4095ed; cursor: pointer; }

.item__drag-line { position: absolute; top: 0; left: 0; bottom: 0; width: 21px; border-right: 1px solid #4095ed; background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #00d9ea), color-stop(100%, #008aec)); background-image: -webkit-linear-gradient(left, #00d9ea, #008aec); background-image: -moz-linear-gradient(left, #00d9ea, #008aec); background-image: -o-linear-gradient(left, #00d9ea, #008aec); background-image: linear-gradient(left, #00d9ea, #008aec); }
.item__drag-line i { position: absolute; top: 10px; left: 10px; bottom: 10px; width: 1px; background: white; }
.item__drag-line i:before, .item__drag-line i:after { content: ""; position: absolute; top: 0; bottom: 0; width: 1px; background: white; }
.item__drag-line i:before { left: -5px; }
.item__drag-line i:after { right: -5px; }

.item__actions { display: table; width: 100%; background: white; }

.item__actions-list { display: table-row; }
.item__actions-list li { display: table-cell; height: 91px; padding: 0 10px; text-align: center; }
.item__actions-list li a { display: block; font-size: 9px; text-transform: uppercase; color: #29639c; }
.item__actions-list li span { display: block; height: 40px; padding-top: 15px; text-align: center; line-height: 40px; }
.item__actions-list li i { display: inline-block; vertical-align: middle; }
.item__actions-list li li { display: inline-block; }

.item__actions-ico-money { background: url("../img/svg/action-money.svg") no-repeat 0 0; -webkit-background-size: 32px 21px; -moz-background-size: 32px 21px; -o-background-size: 32px 21px; background-size: 32px 21px; width: 32px; height: 21px; display: inline-block; }

.item__actions-ico-eye { background: url("../img/svg/action-eye.svg") no-repeat 0 0; -webkit-background-size: 30px 19px; -moz-background-size: 30px 19px; -o-background-size: 30px 19px; background-size: 30px 19px; width: 30px; height: 19px; display: inline-block; }

.item__actions-ico-view { background: url("../img/svg/action-view.svg") no-repeat 0 0; -webkit-background-size: 19px 22px; -moz-background-size: 19px 22px; -o-background-size: 19px 22px; background-size: 19px 22px; width: 19px; height: 22px; display: inline-block; }

.item__actions-ico-del { background: url("../img/svg/action-del.svg") no-repeat 0 0; -webkit-background-size: 25px 17px; -moz-background-size: 25px 17px; -o-background-size: 25px 17px; background-size: 25px 17px; width: 25px; height: 17px; display: inline-block; }

.item__actions-ico-edit { background: url("../img/svg/action-edit.svg") no-repeat 0 0; -webkit-background-size: 24px 24px; -moz-background-size: 24px 24px; -o-background-size: 24px 24px; background-size: 24px 24px; width: 24px; height: 24px; display: inline-block; }

.table td, .table th { width: 14%; padding: 5px; background: rgba(255, 255, 255, 0.8); border: 1px solid #4196ed; font-weight: normal; font-size: 10px; text-align: center; }
.table th { padding: 7px 5px; }
.table.table__description td { padding: 7px; text-align: left; }
.table.table__description tr:first-child td { border-top: none; }
.table .table__not-correct, .table .table__played, .table .table__not-played, .table .table__correct { display: inline-block; vertical-align: middle; }
.table .table__not-correct + .table__text, .table .table__played + .table__text, .table .table__not-played + .table__text, .table .table__correct + .table__text { margin-left: 4px; }
.table .table__not-correct { background: url("../img/svg/not-correct.svg") no-repeat 0 0; -webkit-background-size: 18px 18px; -moz-background-size: 18px 18px; -o-background-size: 18px 18px; background-size: 18px 18px; width: 18px; height: 18px; display: inline-block; }
.table .table__correct { background: url("../img/svg/correct.svg") no-repeat 0 0; -webkit-background-size: 18px 18px; -moz-background-size: 18px 18px; -o-background-size: 18px 18px; background-size: 18px 18px; width: 18px; height: 18px; display: inline-block; }
.table .table__not-played { background: url("../img/svg/not-played.svg") no-repeat 0 0; -webkit-background-size: 18px 18px; -moz-background-size: 18px 18px; -o-background-size: 18px 18px; background-size: 18px 18px; width: 18px; height: 18px; display: inline-block; }
.table .table__played { width: 18px; height: 18px; border-radius: 50%; border: 1px solid #4095ed; }
.table i.table__eagle, .table i.table__birdie, .table i.table__par, .table i.table__bogey, .table i.table__2bogey, .table i.table__3bogey { display: inline-block; width: 15px; height: 15px; margin-right: 4px; border: 1px solid #979797; vertical-align: middle; }
.table .table__eagle { background: #66ccff; }
.table .table__birdie { background: #3366cc; }
.table .table__bogey { background: #ffcc00; }
.table .table__2bogey { background: #cc9900; }
.table .table__3bogey { background: #cc6600; }
.table .table__par { background: #ffffcc; }
.table .table__text { display: inline-block; vertical-align: middle; }

.l { width: 100%; display: inline-block; }
.l .l-col1 { float: left; width: 20%; }
.l .l-col2 { float: right; width: 70%; }
